# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
.env/
.venv/
venv/

# Local development settings
.env.local
.env.development
.env.test
.env.production

# Editor directories and files
.idea
.vscode
*.swp
*.swo
